@using Microsoft.AspNetCore.Authorization

@inherits LayoutComponentBase
@attribute [AllowAnonymous]

.<section class="h-100 gradient-form" style="background-color: #D5DCFD;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card round-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="img/classwave classwave light.png"
                                        style="width: 185px;" alt="logo" />
                                    <h4 class="mt-i mb-5 pb-1">School Management System</h4>
                                </div>
                                <div style="margin-top: -30px">
                                    @Body
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 md-5 mx-md-4">
                                <h4 class="mb-4">We make your school smarter</h4>
                                <p class="small mb-0">
                                    Introducing SmartSchool, the cutting-edge solution revolutionizing school administration.
                                    SmartSchool is not just a school management system; it's a comprehensive platform designed to streamline every facet of your education institution.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
