.gradient-custom-2 {
    background: #5372FD;
    background: -webkit-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,114,253,1) 40%, rgba(0,212,255,1) 100%);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.form-control {
    padding: 0
}